.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 15px;
    background-color: #e5e5e5;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.logo {
    transition: 0.3s;
}

.logo:hover {
    scale: 1.05;
    cursor: default;
}

.header_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_button {
    padding: 7px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
    cursor: default;
    transition: 0.3s;
}

.header_button:hover {
    background: #929d9520;
}
